<mat-card>
  <mat-card-header>
    <mat-card-title>Create an account</mat-card-title>
    <mat-card-subtitle>
      Please fill out the below information to create your account and allow you to reserve a work space.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-user-data [tirggerEmit]="triggerEmit" (value)="onResponse($event)"></app-user-data>
    <h3 style="font-weight: bolder;">Password:</h3>
    <form [formGroup]="createAccount" style="display: flex; flex-direction: column;">
      <mat-form-field appearance="outline">
        <mat-label>Password *</mat-label>
        <input name="spacetype" matInput type="password" formControlName="password">
        <mat-error *ngIf="createAccount.invalid">Password is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password *</mat-label>
        <input name="spacetype" matInput type="password" formControlName="passwordConfirm">
        <mat-error *ngIf="createAccount.invalid">Password is required</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div style="display: flex; justify-content: center" *ngIf="feedback$ | async as feedback">
      <p style="color: red" *ngIf="feedback.error">{{ feedback.error || "There was an error" }}</p>
      <p style="color: green" *ngIf="feedback.resp">{{ "Success!" }}</p>
    </div>
    <div style="display: flex; justify-content: center;">
      <button mat-flat-button color="primary" [disabled]="createAccount.invalid" (click)="onSave()">Save</button>
    </div>
  </mat-card-actions>
</mat-card>
