<mat-card>
  <mat-card-header>
    <mat-card-title>Application</mat-card-title>
    <mat-card-subtitle>
      Please fill out the below information to submit your application and reserve a work space.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="application">
      <div style="display: flex; flex-direction: column;">
        <mat-form-field appearance="outline">
          <mat-label>Company Name</mat-label>
          <input name="spacetype" matInput formControlName="companyName">
          <mat-error *ngIf="application.invalid">Compayn Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Company Description</mat-label>
          <textarea name="spacetype" matInput formControlName="companyDescription"></textarea>
          <mat-error *ngIf="application.invalid">Companyn description is required</mat-error>
        </mat-form-field>
      </div>
    </form>

  </mat-card-content>

  <mat-card-actions style="display: flex;justify-content: center;">
    <button *ngIf="user$ | async as user" mat-flat-button color="primary" [disabled]="application.invalid"
      (click)="onSave(user)">Save
    </button>
  </mat-card-actions>
</mat-card>
