<mat-card style="margin-bottom: 2em;">
  <mat-card-header style="display: flex; justify-content: space-between;">
    <mat-card-title>Payment History</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="(transactions$ | async) as transactions;">
    <div *ngIf="transactions.length; else noTrans">
      <!-- <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter..." #input>
        <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="input.value=''; applyFilter({target: { value: ''}})">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->

      <!-- <pre *ngFor="let col of displayedColumns | keyvalue">{{col | json}}</pre> -->
      <table mat-table [dataSource]="transactions | sortBy : 'dateCreated' : 'desc' | formatTable" style="width: 100%;">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of displayedColumns | keyvalue">
          <th mat-header-cell *matHeaderCellDef> {{col.value}} </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="col.key=='reservationId'; else normal">
              <a [routerLink]="" (click)="openReservation(element[col.key])">{{element[col.key]}}</a>
            </div>
            <ng-template #normal>
              {{element[col.key]}}
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns | key"></tr>
        <tr mat-row *matRowDef="let row; columns: (displayedColumns | key);"></tr>

        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>
    </div>
    <ng-template #noTrans>
      <div style="display: flex; justify-content: center;">
        <h3>No payments on file.</h3>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
