<mat-card>
  <mat-card-header style="display: flex; justify-content: space-between; align-items: center;" >
    <mat-card-title>Submitted Applications</mat-card-title>
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <mat-select [value]="filterSelection$ | async" (selectionChange)="onFilterChanged($event)">
        <mat-option *ngFor="let filter of filterOptions | keyvalue" [value]="filter.key">{{filter.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-header>

  <mat-card-content *ngIf="applications$ | async as applications">
    <mat-accordion style="width: 100%;" multi *ngIf="applications.length; else noApps">
      <app-pending-application *ngFor="let application of applications | sortBy : 'createdTime' : 'desc'" 
        [application]="application"
        [admin]="showAdminButtons(user$ | async)"
        (accept)="onAccept(application)"
        (reject)="onReject(application)">
      </app-pending-application>
    </mat-accordion>

    <ng-template #noApps>
      <div style="display: flex; justify-content: center;">
        <h3>No Applications</h3>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
