<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Reserve a Space</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content style="max-width: 50vw; display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex;">
      <div style="flex-basis: 50%; display: flex; justify-content: center; align-items: center;" class="test">
        IMG
      </div>
      <div style="flex-basis: 50%; display: flex; flex-direction: column; align-items: center; padding: 2em">
        <h1>{{inputProduct.name}}</h1>
        <p>{{inputProduct.description}}</p>
      </div>
    </div>

    <mat-horizontal-stepper style="width: 100%" linear>
      <!-- Icon overrides. -->
      <!-- <ng-template matStepperIcon="single">
        <mat-icon>bookmark</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="multi">
        <mat-icon>bookmarks</mat-icon>
      </ng-template> -->


      <mat-step label="Select Timeframe" state="single" [optional]="false" [stepControl]="timeFrameForm">
        <form [formGroup]="timeFrameForm" style="display: flex; flex-direction: column;">
          <mat-form-field appearance="outline">
            <mat-label>Select Lease Length</mat-label>
            <mat-select formControlName="leaseType">
              <mat-option *ngFor="let type of leaseTypes" [value]="type.id">{{type.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Lease Start Month</mat-label>
            <mat-select formControlName="startMonth">
              <!-- <mat-option *ngFor="let month of months | keyvalue | sortBy : 'month'" [value]="month.key">{{month.value}}
              </mat-option> -->
              <mat-optgroup [label]="years[0]">
                <mat-option *ngFor="let month of currentYearsMonths | keyvalue | sortBy : 'month'" [value]="month.key">
                  {{month.value}}
                </mat-option>
              </mat-optgroup>
              <mat-optgroup [label]="years[1]">
                <mat-option *ngFor="let month of nextYearsMonths | keyvalue | sortBy : 'month'" [value]="month.key">
                  {{month.value}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </form>

        <div style="display: flex; justify-content: center;">
          <button mat-button matStepperNext [disabled]="timeFrameForm.invalid"
            (click)="queryAvailability()">Next</button>
        </div>
      </mat-step>

      <mat-step label="Availability" state="availability" [optional]="false" [stepControl]="selectSpaceForm" >
        <div style="display: flex; flex-direction: column; align-items: center;">
          <h2>Start: {{startDate$ | async | date : 'MM/dd/yyyy'}}</h2>
          <h2>End: {{endDate$ | async | date : 'MM/dd/yyyy'}}</h2>
        </div>
        <form [formGroup]="selectSpaceForm" *ngIf="availableSpaces$ | async as availableSpaces;">
          <mat-form-field appearance="outline" style="display: flex; justify-content: center;" class="extra-wide" *ngIf="availableSpaces.length; else noSpaces">
            <mat-label>Select an available {{inputProduct.name | lowercase}}</mat-label>
            <mat-select formControlName="space" style="min-width: 100%">
              <mat-option *ngFor="let space of availableSpaces" [value]="space.id">{{space.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-template #noSpaces>
            <div style="display: flex; justify-content: center;">
              <h3>No space of this type available during selected timeframe.</h3>
            </div>
          </ng-template>

          <div style="display: flex; justify-content: center;">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext [disabled]="selectSpaceForm.invalid"
              (click)="createTempReservation()">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step label="Payment" state="confirm" [optional]="false">
        <div *ngIf="reservation$ | async as reservation"
          style="display: flex; flex-direction: column; align-items: center;">
          <h1>Reservation Summary</h1>
          <p><span style="font-weight: bold;">Space Name: </span>{{ (selectedSpace$ | async).name}}</p>
          <p><span style="font-weight: bold;">Start Date: </span>{{reservation.startDate | date : 'MM/dd/y'}}</p>
          <p><span style="font-weight: bold;">End Date: </span>{{reservation.endDate | date : 'MM/dd/yy'}}</p>
          <p>By clicking 'Complete Reservation' your application will be submitted for review.</p>
          <div style="display: flex; justify-content: center;">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-flat-button matStepperNext color="primary" (click)="submitApplication(reservation)">Submit
              Application</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>


    <mat-accordion style="width: 100%;">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header style="display: flex; justify-content: space-between; align-items: center;">
          <mat-panel-title>
            Cost Summary
          </mat-panel-title>
          <h1>
            Total: {{ total$ | async | currency }}
          </h1>
        </mat-expansion-panel-header>
        <div *ngIf="selectedLeaseType$ | async as selectedLeaseType">
          <p>{{selectedLeaseType.label}} at
            {{inputProduct.month | currency}}/month...
            {{subtotal$ | async | currency}}</p>
          <p>{{ feePercent * 100}}% Service Fee... {{ fees$ | async | currency}}</p>
          <p>Taxes... {{ taxes$ | async | currency}}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>



  <mat-card-actions style="display: flex; flex-direction: column; align-items: center;">
    <div>
      <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
