<mat-card>
  <mat-card-header>
    <mat-card-title>Add Credit Card</mat-card-title>
    <mat-card-subtitle>
      Please add credit card information to keep card on file.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div style="width: 400px;" #card></div>
    <div style="display: flex; justify-content: center; margin-top: 1em;">
      <mat-checkbox color="primary" [formControl]="makeDefault">Make Default</mat-checkbox>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div style="display: flex; justify-content: center" *ngIf="feedback$ | async as feedback">
      <p style="color: red" *ngIf="feedback.error">{{ feedback.error?.raw?.message || "There was an error" }}</p>
      <p style="color: green" *ngIf="feedback.resp">{{ "Success!" }}</p>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <button style="margin-bottom: 1em;" mat-raised-button color="primary" (click)="onSave()">Save</button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
