<mat-card class="form-background">
  <mat-card-content>
    <form [formGroup]="login" style="display: flex; flex-direction: column;">
      <h2>Log In</h2>
      <mat-error *ngIf="login.invalid && login.dirty">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput name="ignoreMe" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions style="display: flex; flex-direction: column; padding: 0">
    <div style="display: flex; justify-content: center" *ngIf="feedback$ | async as feedback">
      <p style="color: red" *ngIf="feedback.error">{{ feedback.error || "There was an error" }}</p>
      <p style="color: green" *ngIf="feedback.success">{{ "Success!" }}</p>
    </div>
    <div style="display: flex; justify-content: space-around; margin-bottom: 1em;">
      <span><a [routerLink]="" (click)="onForgotPassword()">Forgot Password</a></span>
      <span><a routerLink="apply" mat-dialog-close>New User</a></span>
    </div>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
    </div>
  </mat-card-actions>
</mat-card>
