<mat-card class="form-background">
  <mat-card-content>
    <form [formGroup]="login" style="display: flex; flex-direction: column;">
      <h2>Log In</h2>
      <mat-error *ngIf="login.invalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput name="ignoreMe" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions style="display: flex; flex-direction: column; padding: 0">
    <div style="display: flex; justify-content: space-around; margin-bottom: 1em;">
      <span><a>Forgot Password</a></span>
      <span><a routerLink="newuser" mat-dialog-close>New User</a></span>
    </div>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
    </div>
  </mat-card-actions>
</mat-card>
