<mat-card>
  <mat-card-header style="display: flex; justify-content: space-between;">
    <mat-card-title>Pending Applications</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <!-- <mat-accordion style="width: 100%;" multi>
        <app-reservation *ngFor="let reservation of reservations$ | async; trackBy: identify" 
          [reservation]="reservation"
          [isHistoric]="isHistoric">
        </app-reservation>
      </mat-accordion> -->

    <pre *ngFor="let application of pendingApplications$ | async">{{ application | json}}</pre>

  </mat-card-content>
</mat-card>
