<mat-card>
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>
          Enter your email below and a password reset link will be sent to that address.
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="resetPassword">
        <div style="display: flex; flex-direction: column;">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input name="spacetype" matInput formControlName="email">
            <mat-error *ngIf="resetPassword.invalid">Email address is required</mat-error>
          </mat-form-field>
        </div>
      </form>
  
    </mat-card-content>
  
    <mat-card-actions style="display: flex;justify-content: center;">
      <button mat-flat-button color="primary" [disabled]="resetPassword.invalid" (click)="onReset()">Reset Password</button>
    </mat-card-actions>
  </mat-card>
  