<mat-card>
  <mat-card-header style="display: flex; justify-content: space-between;">
    <mat-card-title>{{isHistoric ? "Historic" : "Current"}} Leases</mat-card-title>
    <div>
      <button mat-button (click)="openAll()">Expand All</button>
      <button mat-button (click)="closeAll()">Collapse All</button>
    </div>
  </mat-card-header>

  <mat-card-content *ngIf="reservations$ | async as reservations;">

    <mat-accordion style="width: 100%;" multi  *ngIf="reservations.length; else noRes">
      <app-reservation *ngFor="let reservation of reservations; trackBy: identify;" 
        [reservation]="reservation"
        [isHistoric]="isHistoric"
        (remove)="onRemove(reservation)">
      </app-reservation>
    </mat-accordion>

    <ng-template #noRes>
      <div style="display: flex; justify-content: center;">
        <h3>No Leases on file.</h3>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
