<mat-card>
  <mat-card-header>
    <mat-card-title>Workspace Summary</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="adminSummary$ | async as summary">
    <div *ngFor="let product of summary | keyvalue">
      <h1 style="margin: 0;" *ngIf="getProductFromId(product.key) | async as product; else noProduct">Space Type: {{product.name}}</h1>
      <div *ngFor="let space of product.value | keyvalue">
        <h2 style="margin: 0;">{{space.value.name}}</h2>
        <div *ngIf="space.value.reserved as reservations; else noReservation">
          <div *ngFor="let reservation of reservations | keyvalue" style="display: flex;  align-items: center;">
            <h3 style="margin: 0; flex-basis: 20%;">{{ reservation.key | date : 'MM/dd/yy hh:mm a'}}</h3>
            <div style="flex-basis: 40%; display: flex;"
              *ngIf="getUserFromId(reservation.value.user) | async as user; else noUser">
              <p style="margin: 0; flex-basis: 50%;">{{user.firstName}} {{ user.lastName}}</p>
              <p style="margin: 0; flex-basis: 50%; font-style: italic;">{{user.email}}</p>
            </div>
            <p style="margin: 0; flex-basis: 40%;">Reservation Id: <a [routerLink]=""
                (click)="onOpenReservation(reservation.value.reservation, product.key, reservation.value.user, space.value.name)">{{reservation.value.reservation}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #noReservation>
  <div style="display: flex; ; align-items: center;">
    <p style="margin: 0;">No Reservations</p>
  </div>
</ng-template>

<ng-template #noUser>
  <div style="display: flex; align-items: center;">
    <p style="margin: 0;">User Not Found</p>
  </div>
</ng-template>

<ng-template #noProduct>
    <div style="display: flex; align-items: center;">
      <p style="margin: 0;">Product Not Found</p>
    </div>
  </ng-template>
