.space-title {
  display: flex;
}

.product-title {
  display: flex;
  justify-content: center;
}

.space-name {
  cursor: pointer;
}

.product-name:hover+.edit-hidden,
.space-name:hover+.edit-hidden {
  visibility: visible;
}

.product-name {
    cursor: pointer;
  }

.edit-hidden {
  opacity: .3;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 11px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12px;
  }
}