<mat-card>
  <mat-card-header>
    <mat-card-title>{{input.title}}</mat-card-title>
  </mat-card-header>

  <mat-card-content #content>
    <form *ngIf="dataForm" [formGroup]="dataForm">
      <mat-form-field appearance="outline" *ngFor="let field of input.form" style="width: 100%;">
        <mat-label>{{field | titlecase}}</mat-label>
        <input [name]="field" matInput [formControlName]="field">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button color="warn" mat-dialog-close>Back</button>
      <button *ngIf="input.actionLabel" mat-raised-button color="primary"
        (click)="triggerAction()">{{input.actionLabel}}</button>
    </div>
  </mat-card-actions>
</mat-card>
