/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.test {
    border: 2px solid red;
}
// .mat-toolbar.mat-primary {
//     background: black !important;
// }

.mat-expansion-panel-header {
    height: auto !important;
}

// USED IN RESERVATION AVAILABILITY MAT-SELECT ELEMET
.extra-wide .mat-form-field-wrapper {
    width: 100%;
}