<section class="header">
  <!-- <img src="assets/headerImg1.jpg" width=100%> -->
  <owl-carousel-o [options]="carouselOptions">
    <ng-template carouselSlide><img src="assets/headerImg1.jpg" width=100%></ng-template>  
    <ng-template carouselSlide><img src="assets/topofstairs.jpg" width=100%></ng-template>   
    <ng-template carouselSlide><img src="assets/meetingroom2.jpg" width=100%></ng-template>  
    <ng-template carouselSlide><img src="assets/topofstairs2.jpg" width=100%></ng-template>  
    <ng-template carouselSlide><img src="assets/stonefly.jpg" width=100%></ng-template>
    <ng-template carouselSlide><img src="assets/firstfloor.jpg" width=100%></ng-template>  
    <ng-template carouselSlide><img src="assets/pnymph.jpg" width=100%></ng-template> 
    <ng-template carouselSlide><img src="assets/royalwulff.jpg" width=100%></ng-template> 
  </owl-carousel-o>
</section>

<section style="padding: 2em">
  <p>The Burwell Project is a historic Salem homesite that has been renovated
    and restored over the years and turned into an ideal small business office
    collaborative. The charm of this building, originally constructed in 1870,
    has been preserved through the thoughtful stewardship of revered Salem
    architect T.A. Carter Jr, who occupied the building for several decades
    and even through his retirement. A cosmetic facelift by the current owner
    brings a comfortable modern feeling to the space, while honoring the
    dignified grace of it's heritage.
  </p>

  <div style="display: flex; justify-content: center; padding: .5em 0 1.5em">
    <button mat-flat-button color="warn" (click)="onFindSpace()">Find Your Workspace</button>
  </div>

  <p>
    The downtown location is ideal for many aspects - walking distance to the
    Roanoke County and City of Salem municipal buildings and courthouses, and
    countless restaurants and shops for our renters and their clientele. It's
    conveniently accessed from exit 140 off Interstate 81. The collaborative
    spirit of the office space and layout lends itself to networking and
    cross-servicing. Your quaint "one-man show" is no longer lonely, but rather
    enhanced with other professionals offering high level services to their
    clients as well.
  </p>
</section>

<section style="background-color: #1f693f; color: white; padding: 2em 3em; display: flex; flex-direction: column; align-items: center; text-align: center; ">
  <h1 style="font-family: 'Rubik', sans-serif;">
    We believe in small business, the self-employed, and entrepreneurs because,
    like you, that’s who we are.
  </h1>
  <h3 style="font-family: 'Rubik', sans-serif;">
    We offer a modern & professional office space
    to run your business at an affordable rate.
  </h3>
</section>

<section style="padding: 2em; padding-bottom: unset; display: flex;">
  <div style="flex-basis: 50%;">
    <img src="assets/homeImg2.jpg" width=100%>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; flex-basis: 50%;">
    <h2 style="font-weight: bold; text-align: center;">Features & Ammenities</h2>
    <p class="list-item">24/7 Access</p>
    <p class="list-item">Air Conditioning</p>
    <p class="list-item">Cleaning Services</p>
    <p class="list-item">Furnished</p>
    <p class="list-item">High-Speed Internet</p>
    <p class="list-item">IT Support</p>
    <p class="list-item">Meeting Rooms</p>
    <p class="list-item">Printing/Scanning Equipment</p>
    <p class="list-item">Lock/Keypad Entry</p>
    <p class="list-item">Onsite Parking</p>
  </div>
</section>

<section style="display: flex; align-items: stretch; padding: 2em; padding-top: unset;"
  [ngStyle]="{'flex-direction': (isHandset$ | async) ? 'column' : 'row'}">
  <div style="flex-basis: 100%; display: flex; flex-direction: column; align-items: center; padding: 2em 1em">
    <h2 style="font-weight: bold;">Contact Us</h2>
    <p class="list-item">Address: 407 E. Burwell St Salem, Va 24153</p>
    <p class="list-item">Call: (315) 796-8887</p>
    <p class="list-item" *ngIf="!(isHandset$ | async)">Email: <a href="mailto:services@burwellproject.com">services@burwellproject.com</a></p>
    <div *ngIf="isHandset$ | async" style="display: flex; padding-bottom: 1em; width: 250px; justify-content: space-around;">
      <div><a href="https://m.facebook.com/TheBurwellProject"><img src="/assets/fb-icon.png" width=48 height=48></a></div>
      <div><a href="https://www.instagram.com/the_burwell_project/"><img src="/assets/insta-icon.png" width=48 height=48></a></div>
      <mat-icon class="material-icons-outlined" style="font-size: 56px; width: 56px; height: 56px; margin-top: -4px;" (click)="onEmail('services@burwellproject.com')">email</mat-icon>
    </div>
    <p class="list-item">
      Inquire about renting a budget-friendly office, coworking space, or meeting
      space using the new online tools
    </p>
  </div>
  <div style="flex-basis: 100%; display: flex; justify-content: center; align-items: center;">
    <iframe width="100%" height="500" id="gmap_canvas"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.11675347972!2d-80.05509694861203!3d37.292366647439714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884d0bcd372dc033%3A0x4bdfc2308753313f!2s407%20E%20Burwell%20St%2C%20Salem%2C%20VA%2024153!5e0!3m2!1sen!2sus!4v1619323063184!5m2!1sen!2sus"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen="true" loading="lazy">
    </iframe>
  </div>
</section>
