<section class="header">
  <img src="assets/headerImg1.jpg" width=100%>
</section>

<section>
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Curabitur gravida arcu ac tortor dignissim convallis
    aenean et. Purus in massa tempor nec feugiat nisl pretium.
    Vitae elementum curabitur vitae nunc sed velit dignissim
    sodales ut. Pellentesque elit eget gravida cum sociis. Eu
    sem integer vitae justo eget magna fermentum iaculis.
    Porttitor leo a diam sollicitudin tempor id eu. Quam
    elementum pulvinar etiam non quam. Vestibulum mattis
    ullamcorper velit sed. Dui nunc mattis enim ut tellus
    elementum sagittis. Morbi enim nunc faucibus a pellentesque
    sit amet porttitor.
  </p>
</section>
